/* 共通 */
#app {
  background-color: #eeeeee;
  width: 100vw;
  min-height: 100vh;
  font-family: "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック",
    "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3",
    "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo,
    "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.between {
  justify-content: space-between;
}

.center {
  justify-content: center;
}

.align-items-center {
  align-items: center;
}

.main {
  padding: 120px 100px 0;
}

.error {
  margin-top: 5px;
  text-align: left;
  color:#ed1a3d;
}